<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wr.com.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="wr.com.pojo.Menu" >
    <id column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="parent_name" property="parentName" jdbcType="VARCHAR" />
    <result column="layer_num" property="layerNum" jdbcType="INTEGER" />
    <result column="is_leaf" property="isLeaf" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
     <result column="page_id" property="pageId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, id, creator, create_time, modifier, last_modify_time, is_deleted, name, 
    parent_id, parent_name, layer_num, is_leaf, order_num, url, status, remark,page_id
  </sql>
  <select id="getMenuIdsByRoleIds" resultType="java.lang.String" parameterType="java.util.List">
   SELECT menu_id FROM wr_role_menu WHERE role_id in 
   <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
		#{item.roleId}
</foreach>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wr_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </select>
  <select id="findChildMenu" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wr_menu
    where parent_id = #{parentId,jdbcType=VARCHAR}
  </select>
  <select id="findByRoleIds" resultMap="BaseResultMap" parameterType="java.util.List" >
    SELECT 
    m.menu_id, m.id, m.creator, m.create_time, m.modifier, m.last_modify_time, m.is_deleted, m.name, 
    m.parent_id, m.parent_name, m.layer_num, m.is_leaf, m.order_num, m.url, m.status, m.remark,m.page_id
    FROM wr_menu m,wr_role r,wr_role_menu a
    WHERE m.`menu_id`=a.`menu_id` AND r.`role_id`=a.`role_id`  AND r.`role_id` in 
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
		#{item.roleId}
</foreach>
  </select>
  <select id="findHighByRoleIds" resultMap="BaseResultMap" parameterType="java.util.List" >
    SELECT 
    m.menu_id, m.id, m.creator, m.create_time, m.modifier, m.last_modify_time, m.is_deleted, m.name, 
    m.parent_id, m.parent_name, m.layer_num, m.is_leaf, m.order_num, m.url, m.status, m.remark,m.page_id
    FROM wr_menu m,wr_role r,wr_role_menu a
    WHERE m.`menu_id`=a.`menu_id` AND r.`role_id`=a.`role_id` AND m.parent_id = '0' AND r.`role_id` in 
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
		#{item.roleId}
</foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wr_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="wr.com.pojo.Menu" >
    insert into wr_menu (menu_id, id, creator, 
      create_time, modifier, last_modify_time, 
      is_deleted, name, parent_id, 
      parent_name, layer_num, is_leaf, 
      order_num, url, status, 
      remark,page_id)
    values (#{menuId,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{parentName,jdbcType=VARCHAR}, #{layerNum,jdbcType=INTEGER}, #{isLeaf,jdbcType=INTEGER}, 
      #{orderNum,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}), #{pageId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="wr.com.pojo.Menu" >
    insert into wr_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="parentName != null" >
        parent_name,
      </if>
      <if test="layerNum != null" >
        layer_num,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="pageId != null" >
        page_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null" >
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="layerNum != null" >
        #{layerNum,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wr.com.pojo.Menu" >
    update wr_menu
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null" >
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="layerNum != null" >
        layer_num = #{layerNum,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null" >
        is_leaf = #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
       <if test="pageId != null" >
        page_id = #{pageId,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="wr.com.pojo.Menu" >
    update wr_menu
    set id = #{id,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      parent_name = #{parentName,jdbcType=VARCHAR},
      layer_num = #{layerNum,jdbcType=INTEGER},
      is_leaf = #{isLeaf,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
      page_id = #{pageId,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>